<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>找工作</ion-title>
    <button ion-button clear class="nav-post" (click)="newPost()">
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col col-12>
          <button ion-item *ngFor="let post of posts" (click)="itemTapped($event, post)">
            {{post.title}}
          </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
