@font-face {
  font-family: WenQuan;
  src: url(../assets/font/WenQuan.ttf);
}

* {
  font-family: WenQuan;
}

.myRed {
  background-color: #f53d3d;
}

.myYellow {
  background-color: #FEE600;
}

.bold {
  font-weight: 700;
}

.toolbar-background {
  @extend .myYellow
}

.menu-inner .scroll-content {
  @extend .myYellow
}

.menu-button {
  background-color: transparent;
  padding: 10px;
  margin-left: 20px;
  font-weight: 700;
}

.item-md.item-block .item-inner {
  padding-right: 8px;
  border-bottom: 0px solid #dedede;
}

.menu-header{
  background-image: url("../assets/img/material-graphite.jpg");
  min-height: 200px;
}

.menu-header h1 {
  color: #ffffff;
  margin: 0;
}

.item-input ion-label {
  min-width: 64px;
}

textarea.text-input {
  height:150px;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  padding-right: 8px;
  border-bottom: 0px solid #dedede;
  box-shadow: inset 0 0 0 0 #dedede;
}

.nav-post {
  color: #424242;
  position: absolute;
  right: 10px;
  top: 6px;
}